#### .gitignore
#### Created by Laurence D. Finston (LDF) Sun 17 Jul 2022 06:38:47 PM CEST

*~
*.o
*.cxx
*.dvi
*.eps
*.hxx
*.jpg
*.JPG
*.log
*.ps
*.mf
*.mp
*.xcf
autom4te.cache/
layout
Makefile
pythagorean